<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- CSS -->

  <!-- external font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Lobster&family=Source+Sans+Pro:wght@200&family=Ultra&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/home.css">
  <title>Footer</title>
</head>
<body>
  <!-- Footer -->
  <nav class="navbar navbar-expand-lg bg-black navbar-dark">
    <div class="container">
      <div class="col">
        <img class="logo shrink-img" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Pokebola-pokeball-png-0.png">
        <a href="/home" class="navbar-brand">&nbsp;2021 Pokemon Black Market</a>
      </div>
    </div>
    <div class="container">
      <div class="col ">
        <a href="#" class="navbar-brand">Created by:</a>
        <a href="https://github.com/rosemaryku" class="navbar-brand">Rosemary,</a>
        <a href="https://github.com/jaeykimmy" class="navbar-brand">Jaeyoung,</a>
        <a href="https://github.com/0lgaP" class="navbar-brand">& &nbsp; Olga</a>
      </div>
    </div>
  </nav>
</body>
</html>



