$color-red: #FF0000;

main {
display: flex;
width: 100%;
justify-content: center;

}

.master {
width: 95rem;
background-color: $color-red;
position: absolute;
background-color: black;

}

.black {
  background-color: black;
}
.styled-ul{
  list-style-type:none
}

ul.horizontal-align.black.styled-ul {
  margin: 0;
}

section {
  padding: 2em 0;
  background-color: aquamarine;
}


.shrink-img {
  width: 1em;
  height: 1em;
  margin-bottom: 0.2em;
}



.title-text {
  margin-top: 1em;
  font-weight:bolder;
  background-color: azure;

}


.text-field-styling {
  padding: 1em;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  background-color: azure;
}


.olgabutton {
  font-size:larger;
}

.wide-10 {
  width: 10rem;
}

.img-center {
  display: flex;
  justify-content:center;
}


.height-100 {
  height: 20em;
  width: 20em;
}
.height-20 {
  height:20em;
  width: 100%;
}
.azure {
  color: azure;
}

.horizontal-align {
  display: flex;
  justify-content: flex-start;
}

.search-container {
  width: 100%;
  background-color: whitesmoke;
  justify-content: center;
  padding:  2rem;

}

.search-input-size {
  width: 60%;
  border: #FF0000 solid 3px;
  border-radius: 10px;
  margin-right: 2em;

}

// a.featured {
//   width: 20%;
//   background-color: $color-red;
//   border-radius: 10px;

//   margin: 1em;
//   display: flex;
//   align-items:flex-end;
//   flex-direction: column;
//   text-decoration: none;
//   z-index: 0;


// }
.text-wrap {

  background-color: white;
  border-radius: 2em;
}
.text-date {

  font-size: 1.6em;
  font-weight: 600;
  color:black;
  border-radius: 0.5em;
}

.text-sm {

  font-size: 0.8em;
  font-weight: 600;
  color:black;

  align-self:center;

}
.text-med {

  font-size: 1em;
  font-weight: 600;
  color:black;

  align-self:center;

}

.text-names {

  font-size: 2em;
  font-weight: 600;
  color:white;
  // background-color: white;
  // border-radius: 2em;
  // margin-bottom: 0.5em;

}
.featured-img {

  width: 100%;

}
.right-margin {
  margin-right: 1em;
}

a.fixed {
  width: 15em;
  background-color: $color-red;
  border-radius: 10px;

  margin: 1em;
  display: flex;
  align-items:center;
  flex-direction: column;
  text-decoration: none;
  z-index: 0;
}

.left-right-padding {
padding-left: 0.5em;
padding-right: 0.5em;
margin-left: 0.1em;
margin-right: 0.1em;
}

.top-bottom-padding {
padding-top: 2em;
padding-bottom: 2em;
}

a.fixed:hover {
  box-shadow: 10px 10px 5px rgb(27, 28, 29);
}

div.container.center {
  display: flex;
  align-items:center;
}



div.col {
  display: flex;
  justify-content:center;
}

.col.sm {
  display: flex;
  justify-content:flex-start;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  // .carousel-item {
  //   width: 100%;
  // }
  // .carousel-item.active {
  //   width: 100%;
  // }

  .row.med {
    margin-left: 0;
  }

  a.fixed {
    width: 95%;

  }
  .center {
    display: flex;
    justify-content:center;
  }

  .height-20 {
    height:100%;
    width: 100%;
  }
  .height-100 {
    height:100%;
    width: 100%;
  }
  .btn.btn-danger.btn-lg.dropdown-toggle.wide-10 {
    width: 6rem;

  }
  .right-margin {
    margin-right: 0.4em;
  }
  .text-field-styling {
    width: 2em;
  }
  .search-input-size {

    margin-right: 0.5em;

  }


}
@media only screen and (max-width: 540px) {
  a.fixed {
    width: 80%;
    justify-content: center;
    align-items: center;


  }
.text {
    font-size: 0.8em;
    padding: 0.4em;
    margin-bottom: 0.8em;
  }
  .top-bottom-padding {
    padding-top: 1em;
    padding-bottom: 1em;
    }
  .btn.btn-danger.btn-lg.dropdown-toggle.wide-10  {
      padding: 0rem;
      font-size: 1rem;
      border-radius: 0.3rem;

    }
  .btn.btn-primary.btn-lg.right-margin {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
  }
  .row.sized>* {
    padding-right: 0;
    padding-left: 0;
  }
  .search-container.horizontal-align {
    padding: 1em;
  }
  ul.navbar-nav.ms-auto.force {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .container.center {
    margin: 0;
  }

}
