$color-red: #FF0000;

main {
display: flex;
width: 100%;
justify-content: center;

}

.master {
width: 95rem;
background-color: $color-red;
position: absolute;
background-color: black;

}

.black {
  background-color: black;
}

.classy-article {
  width: 100%;
  display:flex;
  justify-content: center;
}
.container-carousel {

  position: relative;
  background-color: azure;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
}

section {
  padding: 2em 0;
  background-color: aquamarine;
}


a.featured:hover {
  filter: drop-shadow(10px 10px 4px black);
}

.title-text {
  margin-top: 1em;
  font-weight:bolder;
  background-color: azure;

}


.text-field-styling {
  padding: 1em;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  background-color: azure;
}


.olgabutton {
  font-size:larger;

}

.wide-10 {
  width: 10rem;
}

.azure {
  color: azure;
}

.horizontal-align {
  display: flex;
  justify-content: flex-start;
}

.search-container {
  width: 100%;
  background-color: whitesmoke;
  justify-content: center;
  padding: 2rem;

}

.search-input-size {
  width: 60%;
  border: #FF0000 solid 3px;
  border-radius: 10px;
  margin-right: 2em;

}

a.featured {
  width: 20%;
  background-color: $color-red;
  border-radius: 10px;
  padding: 2em 1em;
  margin: 1em;
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  text-decoration: none;
  z-index: 0;


}
span.text {
  z-index: 1;
  font-size: 2em;
  font-weight: 600;
  color:black;
  padding: 0.5em;
  background-color: white;
  border-radius: 4em;
}
.featured-img {

  width: 100%;

}
.right-margin {
  margin-right: 1em;
}

a.fixed {
  width: 15em;
  background-color: $color-red;
  border-radius: 10px;
  padding: 2em 1em;
  margin: 1em;
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  text-decoration: none;
  z-index: 0;
}

div.container.center {
  display: flex;
  align-items:center;
}

.carousel-item img {
  width: 100%;
}

div.col {
  display: flex;
  justify-content:center;
}

.col.sm {
  display: flex;
  justify-content:flex-start;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .carousel-item {
    width: 100%;
  }

  .row.med {
    margin-left: 0;
  }
  .col.sm {
    display: flex;
    justify-content:center;
  }

  a.fixed {
    width: 95%;

  }
  .btn.btn-danger.dropdown-toggle.olgabutton.wide-10{
    width: 1em;
  }

}
