body {
  background-image: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-blue-version/8/89/Pikachu.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 20%;
  background-position: 99% 95%;
}

main {
  margin: 50px 300px;
}

.new-poke {
  padding: 2em 3em;
  background-color: #e9e7e7;
}


@media (max-width: 1024px) {
  main {
    margin: 20px 20px;
  }
}

