main {
  margin: 50px 300px;
  // padding: 5em 10em;
}

.pokemon-container {
  padding: 2em 3em;
  background-color: #e9e7e7;
  display: flex;
  flex-direction: rows;
  align-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  margin-right:40px;
  text-align: center;
}

#poke-pic {
  width: 350px;
  padding: 1em;
}

.poke-name {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.top-right-container {
  display: flex;
  justify-content: space-between;
}

.fa-heart {
  size: 200%;
  margin-left: 10px;
  // color: #b40c0c;
}

.favourited {
  color:#dd2525;
}


.fa-heart:hover {
  color: #dd2525;
  cursor: pointer;
}

