main {
  width: 100%;
  justify-content: center;
  display: flex;
}

.center-main {
  align-items: center;
  justify-content:space-around;
  padding: 2em 4em;
  background-color: white;
}

.center {
  align-items: center;
  justify-content: center;
  background-color: white
}

.center-input {
display:flex;
background-color: rgb(168, 29, 29);
align-content: center;
justify-content: center;
width: 100%;
}

.center-img {
height: 40em;
justify-content: center;
align-items: center;
display: flex;
background-color: white;
}

.master-main {
width: 90%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;

}

img {
width: 25em;
margin-right: 3em;

}
input {
  height: 3em;
  width: 100%;


}
button {
background-color: aqua;
justify-content: center;
align-items: center;
width: 13em;
}

label {
  margin-top: 10px;
  margin-bottom: 4px;
}
