main {
  // display: flex;
  width: 100%;
  justify-content: center;
  // background-color: rgb(212, 82, 82);
  display: flex;


}

.center-main {
  align-items: center;
  justify-content:space-around;
  padding: 2em 4em;
  background-color: white;
}

.center {
  align-items: center;

  // margin: 1em;
  justify-content: center;
  // padding: 2em 2em;
  background-color: white
}

.center-input {
display:flex;
background-color: rgb(168, 29, 29);
align-content: center;
justify-content: center;
width: 100%;
// margin: 1em;
}

.center-img {
height: 40em;
justify-content: center;
align-items: center;
display: flex;
background-color: white;
}

.master-main {
width: 90%;
background-color: white;
display: flex;
align-items: center;
justify-content: center;

}

img {
// background-color: rgb(255, 0, 0);
justify-content: center;
align-items: center;
width: 25em;
margin-right: 2em;

}
input {
  height: 3em;
  width: 100%;


}
button {
background-color: aqua;
justify-content: center;
align-items: center;
width: 13em;
}

// .override {

//   align-items: center;
//   justify-content: center;
// }
