main {
  margin: 50px 300px;
}

table {
  margin-top: 40px;
  vertical-align: middle
}

tr {
  vertical-align: middle;
}

.fav-link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.fa-solid {
  height: 500%;
}

.pokemon-small {
  height: 70px;
}



